@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Manrope:wght@400;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-headline: "Manrope", sans-serif;

  --color-primary: #00323d;
  --color-primary-container: #004a59;
  --color-secondary: #48626e;
  --color-secondary-container: #cbe7f5;
  --color-tertiary: #4e2013;
  --color-tertiary-fixed: #ffdbd1;
  --color-surface: #f7f9fb;
  --color-surface-container: #eceef0;
  --color-surface-container-low: #f2f4f6;
  --color-surface-container-lowest: #ffffff;
  --color-on-surface: #191c1e;
  --color-on-surface-variant: #3f4945;
  --color-outline-variant: #bfc9c4;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-sans;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    @apply w-1.5 h-1.5;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-300 rounded-full hover:bg-slate-400 transition-colors;
  }

  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #cbd5e1 transparent;
  }
}

.glass-card {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(24px);
}
